Client/Service References/PersonsReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonsService_BulkInsert10000Records_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkInsert10000Records" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_BulkInsert10000Records_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkInsert10000RecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersonsDS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsDS" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_GetPersonsDS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsDSResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonsService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonsService">
    <wsdl:operation name="BulkInsert10000Records">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/BulkInsert10000Records" message="tns:IPersonsService_BulkInsert10000Records_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/BulkInsert10000RecordsResponse" message="tns:IPersonsService_BulkInsert10000Records_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/GetPersons" message="tns:IPersonsService_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/GetPersonsResponse" message="tns:IPersonsService_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsDS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/GetPersonsDS" message="tns:IPersonsService_GetPersonsDS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/GetPersonsDSResponse" message="tns:IPersonsService_GetPersonsDS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/UpdatePerson" message="tns:IPersonsService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/UpdatePersonResponse" message="tns:IPersonsService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonsService/DeletePerson" message="tns:IPersonsService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonsService/DeletePersonResponse" message="tns:IPersonsService_DeletePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonsService" type="tns:IPersonsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BulkInsert10000Records">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/BulkInsert10000Records" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/GetPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsDS">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/GetPersonsDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonsService/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonsService">
    <wsdl:port name="BasicHttpBinding_IPersonsService" binding="tns:BasicHttpBinding_IPersonsService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>